.container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 80px;
	background: #f7f7f7;
	padding-bottom: 50px;

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
		gap: 20px;
	}

	.inner {
		max-width: 1200px;
		width: 100%;
		padding: 16px;

		.title {
			padding-top: 70px;
			font-size: 16px;
			text-transform: uppercase;
			color: #222;
			margin-bottom: 20px;
			font-weight: 600;
			letter-spacing: 1px;
			text-align: center;
			display: flex;
			align-items: center;
			text-wrap: nowrap;

			&::after {
				content: "";
				height: 1px;
				background-color: rgb(214, 214, 214);
				flex-grow: 1;
				display: inline-block;
				width: 100%;
				margin: 0 20px 0 40px;
			}
			&::before {
				content: "";
				height: 1px;
				background-color: rgb(214, 214, 214);
				flex-grow: 1;
				display: inline-block;
				width: 100%;
				margin: 0 40px 0 20px;
			}
		}

		.projects {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			margin-top: 40px;
			gap: 40px;
			padding: 0 30px;

			@media (max-width: 992px) {
				grid-template-columns: repeat(2, 1fr);
				gap: 20px;
			}

			@media (max-width: 600px) {
				grid-template-columns: 1fr;
				gap: 20px;
			}
		}

		.moreInfo {
			margin-top: 40px;
			text-align: center;
			font-size: 17px;
			font-weight: 300;
			color: #666;
		}
	}
}
