.heroContainer {
	width: 100%;
	display: flex;
	justify-content: center;

	.heroContent {
		max-width: 1200px;
		width: 100%;
		padding: 0 1rem;
		display: flex;
		justify-content: space-around;
		align-items: center;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 30px;
			text-align: start;
		}

		.heroDescription {
			padding-right: 40px;

			@media (max-width: 768px) {
				padding-right: 0;
			}

			.heroTitle {
				font-size: 46px;
				font-weight: 600;
				line-height: 1.4;
				color: #000;

				@media (max-width: 768px) {
					font-size: 24px;
				}
			}

			.heroText {
				color: rgb(82, 82, 82);
				font-size: 18px;
				font-weight: 300;
				padding-top: 26px;

				@media (max-width: 768px) {
					font-size: 16px;
				}
			}
		}

		.heroImg {
			height: auto;
			max-width: 400px;
			filter: drop-shadow(0px 0px 10px #848484) grayscale(70%);

			@media (max-width: 600px) {
				width: 100%;
			}
		}
	}
}
